<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TapawingoHike</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load bootstrap_icons %}
</head>
<body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">TapawingoHike</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-1 me-2 mb-2 mb-lg-0">
              <li class="nav-item"><a class="nav-link" href="/map/{{ selected_route_id }}">Map</a></li>
              <li class="nav-item"><a class="nav-link" href="/stats/{{ selected_route_id }}">Stats</a></li>
              <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>

              {% if funnel_toggle == True %}
                <li class="nav-item"><button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar">{% bs_icon "funnel" %}</button></li>
              {% endif %}                        
            </ul>
            <form class="d-flex">           
                <select id="routeSelect" class="form-control" onchange="selectRoute()">
                    <option value="">Select route</option>
                    {% for route in routes %}
                        <option value="{{ route.id }}"{% if route.id == selected_route_id %}selected{% endif %}>{{ route.name }}</option>
                    {% endfor %}
                </select>              
            </form>
          </div>
        </div>
      </nav>      
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <!-- Add your site's footer content here -->
    </footer>
    <script>
        // JavaScript function to handle route selection and redirection
        function selectRoute() {        
            const routeId = document.getElementById("routeSelect").value;
            
            // Extract the current view name from the URL
            const currentUrl = window.location.pathname; // Get the path part of the URL
            const parts = currentUrl.split('/'); // Split the path into segments
            const currentView = parts[1]; // The view name is the second segment
            
            // Construct the new URL with the current view name and routeId
            const newUrl = `/${currentView}/${routeId}/`;
            
            window.location.href = newUrl;
        }
    </script>
</body>
</html>
