<!-- map.html -->

{% extends "base.html" %}
{% load custom_filters %}
{% load bootstrap_icons %}

{% block content %}
<script>
    const teamMarkerIcons = {{ team_marker_icons|safe }};
</script>


<div class="container-fluid">
    <div class="row flex-nowrap p-0">
        <div class="col ps-md-2 p-0">
            <div id="map" style="height: calc(100vh - 60px);"></div>
        </div>        
        <div class="col-auto px-0">
            <div id="sidebar" class="collapse collapse-horizontal border-end">
                <div class="p-3">
                    <h4>Filter</h4>

                    <!-- Team Filter -->
                    <div class="form-group mb-3">
                        <h5>Team</h4>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input team-filter" id="all-teams" data-team="all" checked>
                            <label class="form-check-label" for="all-teams">All Teams</label>
                        </div>                           
                        {% for team in teams %}
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input team-filter" id="team-{{ team.id }}" data-team="{{ team.id }}" checked>
                            <img src="{{ team_marker_icons|get_item:team.id }}" class="team-marker-icon" alt="{{ team.name }} Marker" height="20">
                            <label class="form-check-label" for="team-{{ team.id }}">{{ team.name }}</label>
                        </div>
                        {% endfor %}
                        <!-- Add similar form-check elements for other teams -->
                    </div>

                    <!-- Show on Map Filter -->
                    <div class="form-group">
                        <h5>Show on Map</h5>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="teamLocationLogs-filter" checked>
                            <label class="custom-control-label" for="teamLocationLogs">Team Location Logs</label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="destinations-filter" checked>
                            <label class="custom-control-label" for="destinations">Destinations</label>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>

<script>
    window.initMap = async function () {
        const { Map } = await google.maps.importLibrary("maps");
        const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
    
        const map = new Map(document.getElementById('map'), {
            center: { lat: {{ 52.47837701966765|stringformat:"f"}}, lng: {{ 6.4119174456591645|stringformat:"f"}} },
            zoom: 9,
            controlSize: 24,
            mapTypeControl: true,
            mapTypeControlOptions: {
                style: google.maps.MapTypeControlStyle.DEFAULT,
                mapTypeIds: ["roadmap", "satellite", "hybrid", "terrain"],
            },
            mapId: "TapaHikeMap"
        });

        const latlngbounds = new google.maps.LatLngBounds();

        var markersData = [];
        {% if destinations %}//Add destinations{% for destination in destinations %}
        markersData.push({
            id: {{ destination.id }}.{{ forloop.counter }},
            latlng: new google.maps.LatLng({{ destination.lat|stringformat:"f"}}, {{ destination.lng|stringformat:"f"}}),
            title: '{{ destination.routepart__order }}',
            icon: '/pin?chst=d_map_pin_letter&chld={{ destination.routepart__order }}|ADDE63|0000FF',
            type: 'destination'
        });{% endfor %}{% endif %}
        {% if team_locations %}//Add Teams{% for team_location in team_locations %}
        markersData.push({
            id: {{ team_location.team__id }}.{{ forloop.counter }},
            latlng: new google.maps.LatLng({{ team_location.lat|stringformat:"f"}}, {{ team_location.lng|stringformat:"f"}}),
            title: '{{ team_location.team__name }}',
            icon: teamMarkerIcons[{{ team_location.team__id }}],
            type: 'team'
        });{% endfor %}{% endif %}
        {% if completed_destinations %}//Add Teams{% for completed_destination in completed_destinations %}
        //console.log({{ completed_destination.lat }});
        markersData.push({
            id: {{ completed_destination.teamroutepart__team_id }}.{{ forloop.counter }},
            latlng: new google.maps.LatLng({{ completed_destination.lat|stringformat:"f"}}, {{ completed_destination.lng|stringformat:"f"}}),
            title: '{{ completed_destination.team__name }}',
            icon: teamMarkerIcons[{{ completed_destination.teamroutepart__team_id }}],
            type: 'team'
        });{% endfor %}{% endif %}

        var destination_markers = {};
        var team_markers = {};

        markersData.forEach((data) => {
            const img = document.createElement("img");
            img.src = data.icon;          // bv. /chart?letter=A&bgcolor=...&format=svg
            img.width = 48;               // vervangt new Size(21,34)
            img.height = 64;
            img.alt = data.title || "";

            //img.style.transform = "translate(-50%, -100%)";
            //img.style.willChange = "transform";

            const marker = new AdvancedMarkerElement({
                map,
                position: data.latlng,      // {lat:.., lng:..}
                title: data.title || "",
                content: img
            });

            latlngbounds.extend(data.latlng);

            var id = data.id;
            if (data.type === 'destination') {
                if (!destination_markers[id]) {
                    destination_markers[id] = [];
                }
                destination_markers[id].push(marker);
            } else if (data.type === 'team') {
                if (!team_markers[id]) {
                    team_markers[id] = [];
                }
                team_markers[id].push(marker);
            }
        })

        // for (var i = 0; i < markersData.length; i++) {
        //     var data = markersData[i];
        //     var marker = new google.maps.Marker({
        //         position: data.latlng,
        //         map: map,
        //         title: data.title,
        //         icon: {
        //             url: data.icon,
        //             size: new google.maps.Size(48, 64)
        //         }
        //     });
        //     latlngbounds.extend(marker.position);

        //     var id = data.id;
        //     if (data.type === 'destination') {
        //         if (!destination_markers[id]) {
        //             destination_markers[id] = [];
        //         }
        //         destination_markers[id].push(marker);
        //     } else if (data.type === 'team') {
        //         if (!team_markers[id]) {
        //             team_markers[id] = [];
        //         }
        //         team_markers[id].push(marker);
        //     }
        // }


        //Center map and adjust Zoom based on the position of all markers.
        map.setCenter(latlngbounds.getCenter());
        map.fitBounds(latlngbounds);

        

        // Handle "All Teams" checkbox behavior
        const allTeamsCheckbox = document.querySelector('#all-teams');
        allTeamsCheckbox.addEventListener('change', () => {
            const isChecked = allTeamsCheckbox.checked;
            teamFilterCheckboxes.forEach(checkbox => {
                checkbox.checked = isChecked;
            });

            // Update markers based on the "All Teams" checkbox
            updateMarkers();
        });

        // Filter Teams
        const teamFilterCheckboxes = document.querySelectorAll('.team-filter');
        teamFilterCheckboxes.forEach(checkbox => {
            checkbox.addEventListener('change', () => {
                // Update markers based on the team checkboxes
                updateMarkers();
            });
        });
        
        // Handle "Team Location Logs" checkbox behavior
        const teamLocationLogsCheckbox = document.querySelector('#teamLocationLogs-filter');
        teamLocationLogsCheckbox.addEventListener('change', () => {
            allTeamsCheckbox.checked = teamLocationLogsCheckbox.checked;
            triggerEvent(allTeamsCheckbox, 'change');
            updateMarkers();
        });

        
        // Filter Destinations
        const destinationFilterCheckbox = document.querySelector('#destinations-filter');
        destinationFilterCheckbox.addEventListener('change', () => {
            // Update markers based on the team checkboxes
            updateMarkers();
        });
        
        // Function to update markers based on checkboxes
        function updateMarkers() {
            const selectedTeams = [...teamFilterCheckboxes]
                .filter(checkbox => checkbox.checked && checkbox.dataset.team !== 'all')
                .map(checkbox => parseInt(checkbox.dataset.team));

            // Show/hide team markers
            Object.keys(team_markers).forEach(teamId => {
                team_markers[teamId].forEach(marker => {
                    if (selectedTeams.includes(parseInt(teamId)) || selectedTeams.length === 0) {
                        marker.setMap(map);
                    } else {
                        marker.setMap(null);
                    }
                });
            });

            // Show/hide destination markers based on destinationFilterCheckbox
            const isDestinationFilterChecked = destinationFilterCheckbox.checked;
            Object.keys(destination_markers).forEach(destinationId => {
                destination_markers[destinationId].forEach(marker=> {
                    if( isDestinationFilterChecked)
                        marker.setMap(map);
                    else
                        marker.setMap(null);
                })    
            })
            // If no team checkbox is checked, hide all markers
            const noTeamChecked = !selectedTeams.length;
            if (noTeamChecked) {
                Object.keys(team_markers).forEach(teamId => {
                    team_markers[teamId].forEach(marker => {
                        marker.setMap(null);
                    });
                });
            }
        }

    
    }

    function triggerEvent(element, eventName) {
        var event = document.createEvent("HTMLEvents");
        event.initEvent(eventName, false, true);
        element.dispatchEvent(event);
    }    
</script>

<script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&loading=async&callback=initMap" async defer></script>
{% endblock %}
