{% extends "base.html" %}

{% load custom_filters %}

{% block content %}
<style type="text/css">
@media (max-width: 576px) {
    .truncate-cell {
        max-width: 60px; /* or any value you prefer */
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}    
.table-nonfluid {
    width: auto;
}
</style>
<div class="container mt-4">
    <div class="row mb-5">
        <div class="col">
            <h3>Statistics for {{ route.name }}</h3>

            <table class="table table-nonfluid">
                <tr>
                    <th>Edition</th>
                    <td>{{ edition.name }}</td>
                </tr>
                <tr>
                    <th>Dates</th>
                    <td>{{ edition.date_start|date:"D j b" }} - {{ edition.date_end|date:"D j b Y" }}</td>
                </tr>
                <tr>
                    <th>Destinations*</th>
                    <td>{{ mandatory_destinations_count }}</td>
                </tr>        
                <tr>
                    <th>Distance*</th>
                    <td>{{ distance }} km</td>
                </tr>
            </table>
            <p class="small">* only mandatory destinations</p>
        </div>
    </div>
    <div class="row">
        <div class="col table-responsive">
            <h3>Team stats</h3>
            <table class="table table-striped table-fixed">
                <thead>
                    <tr>
                        <th>Team</th>
                        <th>First</th>
                        <th>Last</th>
                        <th>Time</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team_stat in team_stats %}
                        <tr>
                            <td class="truncate-cell">{{ team_stat.name }}</td>
                            <td>{{ team_stat.first_completed|date:"H:i:s" }}</td>
                            <td>{{ team_stat.last_completed|date:"H:i:s" }}</td>
                            <td>{{ team_stat.time_difference|format_duration }}</td>
                            <td>{{ team_stat.completed_destinations_count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</div>
{% endblock %}
